.button {
  background-color: #941c2f;

  &:hover {
    background-color: #941c2f;

    &:active {
      background-color: #941c2f;
    }
  }
}

.noAccountsPanel {
  background-color: white;
  padding: 50px;
  margin-bottom: 25px;
}

.mobileListComponent {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.balanceTitle {
  font-size: 11px;
}

.balanceFigure {
  font-weight: bold;
  font-size: 14px;
}
