.accountsTableDesktop {
  border-radius: 3px;
}

.accountsTableMobile {
  margin-bottom: 15px;
  border-radius: 0;
}
.accountNumber {
  cursor: default;
}

.accountListGroupItem {
  border: 0;
  border-top: 1px solid #e6e6e6;
  border-top-width: 1px;
}
