.header {
   background-color: #1B264F;
   display: flex;
   min-height: 60px;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-size: calc(10px + 2vmin);
   color: white;
   padding: 0 20px;
 }

 .appTitle {

 }